@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}
 .header {
  margin: 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.112);
 }

 .home_page {
  list-style: none;
  margin-left: 15px;
  display: flex;
  column-gap: 30px;
 }

 .page {
  display: block;
    font-size: 20px;
 }

 .page .active {
   color: #FF0000;

 }